// Layout variables partial

$section-padding: 20px;

section.ceremony, section.accomodations, section.rsvp {
	background: $section-light;
}
section.reception, section.events, section.blog {
	background: $section-dark;
}